NODE_ENV="development"
PORT=3000
API_KEY="super-secret-alina-key-2026"
GITHUB_TOKEN=

DATABASE_URL="postgresql://postgres:password123@db:5432/github_notifier?schema=public"

REDIS_URL="redis://redis:6379"

RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=